.App {
  text-align: center;
  font-family: "Lato" !important;
}

h2, p, h3 {
  font-weight: normal !important;
  letter-spacing: .5px !important;
}

.button.ui.button {
  background-color: #702963;
  color: #ffffff;
  font-weight: normal  !important;
  letter-spacing: 1px !important;
}

h1 {
  font-family: "Segoe Print" !important;
}
